<ion-view view-title="Create">
  <ion-content>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          &nbsp;
        </div>
        <select ng-options="item as item.label for item in items track by item.id" ng-model="data.mediaType"></select>
      </label>
    </div>

    <div class="card">
      <div class="item item-divider">
        Your Question
      </div>
      <a class="item item-input">
        <input ng-model="data.question" type="text" placeholder="your question">
      </a>
    </div>

    <div class="card">
      <div class="item item-divider">
        Your first selection :
      </div>
      <a class="item item-input">
        <input type="text" ng-model="data.thingA" placeholder="A">
      </a>
    </div>

    <div class="card">
      <div class="item item-divider">
        Your second selection :
      </div>
      <a class="item item-input">
        <input type="text" ng-model="data.thingB" placeholder="B">
      </a>
    </div>

    <div class="card">
      <div class="item item-divider">
        Please enter all your tags :
      </div>
      <a class="item item-input">
        <input ng-model="data.tags" type="text" placeholder="tags">
      </a>
    </div>

    <ion-button class="button button-balanced button-block" ng-click="submit()">Submit Which!</ion-button>

  </ion-content>
</ion-view>
