<ion-view view-title="{{data.which.createdAt}}">
  <ion-pane class="pane">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{data.which.question}}</h1>
    </ion-header-bar>
    <td-cards>
      <td-card on-destroy="back()" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}" on-snap-back="cardPartialSwipe(0)">
        <div class="image" ng-if="data.type === 'image'">
          <img ng-if="data.cardSrc!==''" ng-src="{{data.cardSrc}}">
        </div>
        <div class="image" ng-if="data.type === 'text'">
          <h2 ng-if="data.cardSrc!==''">{{data.cardSrc}}</h2>
        </div>
        <h1 ng-if="data.cardSrc===''">{{data.which.question}}</h1>
        <div class="yes-text">{{data.which.thingBVoteCount}}</div>
        <div class="no-text">{{data.which.thingAVoteCount}}</div>
      </td-card>
    </td-cards>
  </ion-pane>
</ion-view>
