<ion-view view-title="Create">
  <ion-content>
    <!--     <label for = "mediatype">Media</label>

    <select class= "input-label" name="mediatype">
    <option value="image">Image</option>
    <option value="text">Text</option>
    </select> -->
    <select ng-options="item as item.label for item in items track by item.id" ng-model="mediaType"></select>
    <input ng-model="question" type="text" placeholder="your question">
      <input ng-model="thingA">
      <h1>or</h1>
      <input ng-model="thingB">
    </div>

    <ion-button class="button button-assertive" ng-click="submit(mediaType, question, thingA, thingB)">Submit Which!</ion-button>
  </ion-content>
</ion-view>
