<ion-view view-title="Sign Up">
  <ion-content>
    <form ng-submit="doSignUp()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="data.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="data.password">
        </label>
        <label class="item">
        <h2>{{data.message}}</h2>
          <button class="button button-block button-calm" ng-click="signUp()">Sign Up</button>
        </label>
      </div>
    </form>

    <h6 ng-click="goToLogin()">Already a user?...</h6>
  </ion-content>
</ion-view>
