<ion-view view-title="Result">
  <ion-content>
    <h3 style="text-align : center">You've created a new Which!</h3>


    <!--<ion-button class="button button-calm button-bar-inline" ng-click="getNewWhich()">Answer a New Which!</ion-button>-->


    <!--<ion-button class="button button-balanced button-bar-inline" ng-click="create()">Create another Which</ion-button>-->
    <div class="flexr">
      <div class="square bg1 op1" ng-click="getNewWhich()">
        <div class="content">
          <div class="table">
            <div class="table-cell">
              Answer a New Which!
            </div>
          </div>
        </div>
      </div>

      <div class="square bg2 op2" ng-click="create()">
        <div class="content">
          <div class="table">
            <div class="table-cell">
              Create a New Which!
            </div>
          </div>
        </div>
      </div>
    </div>




  </ion-content>
</ion-view>
